/*reset*/
* { margin: 0; padding: 0;}
ul, li{ list-style: none;}
body{ font: 12px/1 Tahoma, Helvetica, Arial, sans-serif;}
a { text-decoration: none;}
a:hover { text-decoration: underline;}

/*header*/
header{ height: 40px; background: url(img/header_bg.png) repeat-x; box-shadow: 0 0 15px rgba(0,0,0,0.6); position: relative;}
.h_container{ width: 960px; margin: 0 auto; position: relative; overflow: hidden;}
.logo{ display: block; width: 168px; height: 29px; overflow: hidden; background: url(img/logo.png) no-repeat; position: absolute; left: 25px; top: 5px;}
.menu{ float: right;}
.menu li{ float: left; width: 90px; height: 39px; line-height: 39px; margin-left: 50px;}
.menu li a{ font-size: 20px; color: #fff;}

/*content*/
.main_bg{ height: 975px; background: url(img/main_bg.png) repeat-x;}
.game_bg{ height: 390px; overflow: hidden; margin: 0 auto; background: url(img/game_bg.png) no-repeat center center;}
.container{ width: 960px; margin: 0 auto; padding-top: 137px; margin-top: -390px;}
.game_box{ width: 450px; height: 502px; border: 10px solid #fff; background-color: #000; box-shadow: 0 0 20px #000; margin: 0 auto; position: relative;}

/*game*/
#army{ width: 280px; height: 150px; overflow: hidden; position: absolute; top: 45px;}
#army li{ width: 30px; height: 20px; overflow: hidden; float: left; padding: 5px; background: url(img/invader.png) no-repeat center center;}
#army li.anim{ background: url(img/invader2.png) no-repeat center center;}
#score{ position: absolute; top: 10px; left: 10px; color: #fff;}
#startBtn{ width: 80px; height: 40px; line-height: 40px; background-color: #efefef; position: absolute; top: 50%; left: 50%; font-size: 22px; text-align: center; margin: -20px 0 0 -40px; border-radius: 5px; cursor: pointer;}
#ship{ width: 30px; height: 20px; overflow: hidden; background: url(img/ship.png) no-repeat; position: absolute; top: 457px; left: 50%;}
.bullet{ width: 2px; height: 10px; background-color: #fff; position: absolute;}
.bar{ width: 404px; height: 5px; overflow: hidden; background-color: #fff; border-left: 1px solid #7f7f7f; border-right: 1px solid #7f7f7f; position: absolute; bottom: 19px; left: 22px;}


/*jQuery UI tab*/
.ui-widget-tabs{ width: 800px; margin: 0 auto; position: relative; margin-top: 60px;}
.ui-widget-header { background: transparent; border: none; position: absolute; top: -28px; color: white; height: 28px;}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: white; background: #0080b6; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: white; background: #00a0b0; }

	.ui-widget-header li{ float: left; margin-right: 15px;}
	.ui-widget-header a{ display: block; width: 100px; height: 28px; line-height: 28px; text-align: center; font-size: 20px; font-weight: bold; background-color: #0080b6; border-radius: 5px 5px 0 0;}
	.ui-widget-header a:hover{ text-decoration: none;}
	.ui-widget-tabs .tab_con{ width: 800px; height: 150px; background-color: #fff;}
	.ui-widget-tabs .tab_con .bd{ padding: 26px 40px 0; overflow: hidden; line-height: 18px; color: #000;}
	.ui-widget-tabs .tab_con .l_side{ width: 550px; float: left;}
	.ui-widget-tabs .tab_con .r_side{ width: 150px; float: left;}
	.ui-widget-tabs .tab_con h3{ font-size: 20px; margin-bottom: 10px;}


/*footer*/
footer{ height: 144px; padding-top: 56px; background: url(img/footer_bg.png) repeat-x; position: relative;}
footer p{ text-align: center; color: #fff;}
footer i{ display: block; width: 132px; height: 60px; background: url(img/f_ico.png) no-repeat; position: absolute; top: -55px; left: 50%; margin-left: 310px;}
footer i.l{ height: 51px; top: -46px; margin-left: -460px;}

